*{
    width: 100%;
    margin:0;
    padding:0;
}

/* HEADER */

header{
    background-color:#1E1E23;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 200px;
    padding-left: 10px;
}

.menu{
    text-decoration: none;
    float: right;
    color:white;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 0;
    }

.menu a{
    text-decoration:none;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    background-color:#1E1E23;
}

.menu a:hover{
    background-color: white;
    color:black;
}

a p{
    color:white;
    width: 100%;
    text-align: center;
}

/* SEÇÃO 1 */




/* FOOTER */

footer{
    background-color:#1E1E23;
    width: 100%;
    height: 20vh;
    margin-bottom: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.redes{
    background-color:#1E1E23;
}

.redes-logo{
width: 40px;
margin:0 5vw;
}

/* ADAPTAÇÕES PARA IPHONE 6/7/8. Em verde estão as propriedades mantidas iguais em relação ao Desktop. */

@media screen and (max-device-width:700px){

}